.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
build.gradle
gradle.properties
local.properties
settings.gradle
Zuiq.iml
/.Zuiq/build.gradle
/.Zuiq/gradle.properties
/.Zuiq/local.properties
/.Zuiq/settings.gradle
/.Zuiq/Zuiq.iml
